---
import Edizione from '../layouts/Edizione.astro';
import NavBar from '../components/v2/NavBar.astro';
import HeroV2 from '../components/v2/HeroV2.astro';
import MenuExperiences from '../components/v2/MenuExperiences.astro';
import OnlineV2 from '../components/v2/OnlineV2.astro';
import GalleryV2 from '../components/v2/GalleryV2.astro';
import FooterV2 from '../components/v2/FooterV2.astro';
import FloatingV2 from '../components/v2/FloatingV2.astro';
import BookingV2 from '../components/v2/BookingV2.astro';
---

<Edizione>
  <NavBar />
  <main>
    <HeroV2 />
    <MenuExperiences />
    <OnlineV2 />
    <GalleryV2 />
  </main>
  <FooterV2 />
  <FloatingV2 />
  <BookingV2 />
</Edizione>
